.card {
  &__icon {
    font-size: 4rem;
    display: inline-block;
    margin-bottom: 0.8rem;
    @include for-media($tablet) {
      margin-bottom: 0.4rem;
    }
    @include for-media($laptop) {
      font-size: 4.5rem;
      margin-bottom: 1.5rem;
    }
    @include for-media($desktop) {
      font-size: 5rem;
      margin-bottom: 1rem;
    }
  }
}
.rignet-card {
  background-color: $white;
  padding: 1.5rem 1.5rem 2.3rem;
  margin: 0 2rem 1.5rem;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  &__title {
    max-width: 16rem;
    margin-bottom: 1rem;
    @include for-media($tablet) {
      max-width: 17rem;
      margin-bottom: 1.2rem;
    }
    @include for-media($laptop) {
      max-width: 18.5rem;
      margin-bottom: 1.2rem;
    }
    @include for-media($desktop) {
      max-width: 21rem;
      margin-bottom: 1rem;
    }
  }
  &__para {
    margin-bottom: 1.6rem;
    min-height: 12.9rem;
    @include for-media($tablet) {
      margin-bottom: 1.2rem;
      min-height: 13rem;
    }
    @include for-media($desktop) {
      min-height: 10.5rem;
    }
  }
  &:nth-child(odd) {
    @include for-media($tablet) {
      margin-right: 0.4rem;
    }
    @include for-media($desktop) {
      margin-right: 1.4rem;
    }
  }
  @include for-media($tablet) {
    margin: 0 0 0 0.2rem;
    max-width: 34.8rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 2.5rem 2.5rem 2.6rem;
  }
  @include for-media($laptop) {
    max-width: 46.4rem;
    margin: 1rem 0 0 0.4rem;
    padding: 3.5rem 3.5rem 5.8rem;
  }
  @include for-media($desktop) {
    max-width: 59.3rem;
    padding: 6rem 4rem 3.2rem;
    margin: 1.8rem 0 0.6rem;
  }
}
.growth-card {
  margin-bottom: 3rem;
  &:first-child {
    @include for-media($tablet) {
      min-height: 20.7rem;
    }
  }
  &__icon {
    font-size: 3.5rem;
    margin-bottom: 0.9rem;
    @include for-media($laptop) {
      margin-bottom: 1rem;
    }
    @include for-media($desktop) {
      margin-bottom: 1.5rem;
    }
  }
  &__title {
    max-width: 15rem;
    margin-bottom: 1rem;
    @include for-media($tablet) {
      max-width: 16.5rem;
    }
    @include for-media($desktop) {
      max-width: 19rem;
    }
  }
  &__desc {
    @include for-media($tablet) {
      max-width: 20.5rem;
    }
    @include for-media($laptop) {
      min-height: 8rem;
      max-width: 27.5rem;
    }
    @include for-media($desktop) {
      min-height: 7rem;
      min-width: 35rem;
    }
  }
  @include for-media($laptop) {
    margin-bottom: 1.2rem;
  }
  @include for-media($desktop) {
    margin-bottom: 2rem;
  }
}
