.row {
    display: flex;
    flex-wrap: wrap;
}
$column: 12;
@for $i from 1 to $column {
    .col-lg-#{$i} {
        @include for-media($tablet) {
            flex: percentage($number: ($i/$column));
            max-width: percentage($number: ($i/$column));
        }
    }
    .col-sm-#{$i} {
        @include for-media($phone) {
            flex: percentage($number: ($i/$column));
            max-width: percentage($number: ($i/$column));
        }
    }
}
