@mixin flexbox ($display: flex, $align-items: stretch, $justify-content: flex-start, $flex-direction: row) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}
@mixin font-styles($font-family: $font-regular, $font-size: 1rem, $font-weight: $regular, $line-height: 2rem) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}
@mixin text-wrapper($overflow: visible, $white-space: normal, $text-overflow: initial) {
    overflow-x: $overflow;
    white-space: $white-space;
    text-overflow: $text-overflow;
}
@mixin for-media($size) {
    @if $size == "phone-screen" {
        @media (min-width: $xs-screen)
            { @content; }
    }@else if $size == "tablet-screen" {
        @media (min-width: $md-screen) 
            { @content; }
    }@else if $size == "laptop-screen" {
        @media (min-width: $lg-screen) 
            { @content; }
    }@else if $size == "desktop-screen" {
        @media (min-width: $xl-screen) 
            { @content; }
    }
}
