// font color variables
$primary-text-color: #1D1D1D;
$black: #000000;
$white: #ffffff;
$gray: #65666B;
$light-orange: #F8AE47;
$dark-orange: #EF7622;
$dark-navy: #030F21;
$light-navy: #40465C;

// font weight variables
$bolder: 900;
$bold: 700;
$semi-bold: 500;
$medium: 400;
$regular: 300;
$light: 200;
$lighter: 100;

// position variables
$top: top;
$bottom: bottom;
$left: left;
$center: center;
$right: right;

// breakpoints variables
$phone-screen: 32rem;
$tablet-screen: 76.8rem;
$laptop-screen: 102.4rem;
$desktop-screen: 144rem;
