.main-container {
    display: flex;
    flex-direction: column;
}
.aligner {
    @include for-media($tablet) {
        margin: 0 auto;
        width: 70.8rem;
    }
    @include for-media($laptop) {
        width: 94.3rem;
    }
    @include for-media($desktop) {
        width: 120.6rem;
    }
}
