$font-path: "./../fonts";
$font-families: (
  $font-regular: "helvetica-neue",
  $font-black: "helvetica-neueLTStd-Blk",
  $font-bold: "helvetica-neueLTStd-Bd",
  $font-light: "helvetica-neueLTStd-Lt",
  $font-roman: "helvetica-neueLTStd-roman",
);
@each $font, $font-name in $font-families {
  @font-face {
    font-family: $font;
    src: url("#{$font-path}/#{$font-name}.woff"),
      url("#{$font-path}/#{$font-name}.woff2");
  }
}
$text-colors: (
  "black": $black,
  "white": $white,
  "primary": $primary-text-color,
  "gray": $gray,
  "light-gray": $light-gray,
  "light-orange": $light-orange,
  "dark-orange": $dark-orange,
  "dark-navy": $dark-navy,
  "light-navy": $light-navy,
);
@each $color, $text-color in $text-colors {
  .text-#{$color} {
    color: $text-color;
  }
}
.heading-1 {
  @include font-styles(
    $font-size: 3.2rem,
    $font-weight: $bolder,
    $line-height: 3.6rem
  );
  letter-spacing: 1px;
  @include for-media($tablet) {
    @include font-styles(
      $font-size: 4.8rem,
      $font-weight: $bold,
      $line-height: 5.2rem
    );
  }
  @include for-media($laptop) {
    @include font-styles(
      $font-size: 4.8rem,
      $font-weight: $bold,
      $line-height: 5.5rem
    );
    letter-spacing: 4px;
  }
  @include for-media($desktop) {
    @include font-styles(
      $font-size: 5.6rem,
      $font-weight: $bold,
      $line-height: 6rem
    );
    letter-spacing: 2px;
    word-spacing: 1px;
  }
}
.heading-2 {
  @include font-styles(
    $font-size: 2.3rem,
    $font-weight: $bold,
    $line-height: 2.7rem
  );
  letter-spacing: 0;
  word-spacing: 0.5px;
  @include for-media($tablet) {
    @include font-styles(
      $font-size: 2.6rem,
      $font-weight: $bold,
      $line-height: 2.8rem
    );
  }
  @include for-media($laptop) {
    @include font-styles(
      $font-size: 3rem,
      $font-weight: $bold,
      $line-height: 3.4rem
    );
    word-spacing: 3px;
    letter-spacing: 0.5px;
  }
  @include for-media($desktop) {
    @include font-styles(
      $font-size: 3.8rem,
      $font-weight: $bold,
      $line-height: 4rem
    );
  }
}
.heading-3 {
  @include font-styles(
    $font-size: 1.5rem,
    $font-weight: $bold,
    $line-height: 1.9rem
  );
  word-spacing: 0;
  letter-spacing: 0.2px;
  @include for-media($tablet) {
    @include font-styles(
      $font-size: 1.6rem,
      $font-weight: $bold,
      $line-height: 1.8rem
    );
  }
  @include for-media($desktop) {
    @include font-styles(
      $font-size: 2rem,
      $font-weight: $bold,
      $line-height: 2.4rem
    );
  }
}
.para-1 {
  @include font-styles($font-roman, 1.6rem, $medium, 2.1rem);
  word-spacing: 2px;
  @include for-media($tablet) {
    @include font-styles($font-roman, 1.7rem, $medium, 2.5rem);
    word-spacing: 1px;
  }
  @include for-media($laptop) {
    @include font-styles($font-roman, 2rem, $medium, 2.6rem);
    word-spacing: 0.5px;
  }
}
.para-2 {
  @include font-styles($font-roman, 1.6rem, $medium, 2rem);
  word-spacing: 0;
  letter-spacing: 0;
  @include for-media($laptop) {
    @include font-styles($font-roman, 1.7rem, $medium, 2.3rem);
  }
}
.para-3 {
  @include font-styles($font-roman, 1.3rem, $medium, 1.8rem);
  word-spacing: 1px;
  letter-spacing: 0.2px;
  @include for-media($tablet) {
    @include font-styles($font-roman, 1.4rem, $medium, 1.9rem);
    word-spacing: 0;
    letter-spacing: 0;
  }
}
.para-4 {
  @include font-styles($font-roman, 1.3rem, $bold, 1.8rem);
  word-spacing: 1px;
  letter-spacing: 0.2px;
  @include for-media($tablet) {
    @include font-styles($font-roman, 1.2rem, $bold, 1.9rem);
    word-spacing: 0;
    letter-spacing: 0;
  }
}
.superscript {
  transform: scaleX(0.7);
  transform-origin: top left;
  letter-spacing: 3px;
  @include font-styles($font-bold, 1.6rem, $bolder, 1.92rem);
  @include for-media($tablet) {
    @include font-styles($font-bold, 1.8rem, $bolder, 2.1rem);
  }
  @include for-media($laptop) {
    @include font-styles($font-bold, 2rem, $bolder, 2.4rem);
  }
  @include for-media($laptop) {
    @include font-styles($font-bold, 2.4rem, $bolder, 2.8rem);
  }
}
